<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | </title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge"></h1>

            
<section class="article-grid vsb--large" data-require="controllers/articleGridController" data-show-filter="true">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <h1 class="article-grid__heading text--xxlarge">Latest news</h1>

                <div class="article-grid__content editorial">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies purus sagittis tortor ultrices, quis auctor tellus finibus. Pellentesque finibus id purus quis efficitur.</p>
                </div>

            </div>

        </div>

        <div data-article-grid-form></div>

        <div data-view="articleGridView">

            <div class="article-grid__flex" data-article-grid
                 data-article-grid-show-more-tags="News,Blog,Global Design and Build,2014,2015"
                 data-article-grid-show-more-url="/static/data/articleGridNewsPage2.json?exclude={exclude}&amp;types={types}&amp;services={services}&amp;year={year}">

                
                    
                    
<article class="article-summary article-grid__flex-whole" 
    data-id="1" 
    data-types="Amaze generation,News" 
    data-services="Strategy &amp; Innovation" 
    data-year="2015" 
    data-display="full"
    data-type="News Article"
    data-grid-item>

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented article-summary__content--grid-full-indented">

        
        <p class="article-summary__date text--small">18 January 2015</p>
        

        

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 1</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 1</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span><span data-disqus-url="123" data-disqus-identifier="" class="disqus-comment-count">0</span></a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 1234</span>
                
            </p>
            

        </div>

    </div>

</article>
                    
                
                    
                    
<article class="article-summary article-grid__flex-half" 
    data-id="2" 
    data-types="News" 
    data-services="Strategy &amp; Innovation" 
    data-year="2015" 
    data-display="half"
    data-type="Case Study"
    data-grid-item>

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">

        

        
        <p class="article-summary__type text--small">05 January 2015</p>
        

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">Case Study 2</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">Case Study 2</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span><span data-disqus-url="1" data-disqus-identifier="" class="disqus-comment-count">0</span></a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 100</span>
                
            </p>
            

        </div>

    </div>

</article>
                    
                
                    
                    
<article class="tweet tweet--flex article-grid__flex-half"
         data-id="2001"
         data-types="tweet"
         data-services="tweet"
         data-year="tweet"
         data-display="half"
         data-type="Tweet"
         data-grid-item
         data-require="views/tweetView"
         data-tweet-item>

    <div class="tweet__bg radial-gradient--dark-1 trixel--light"></div>

    <div class="tweet__inner">

        <div class="tweet__items" data-tweet-items>

            
            
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            RT: <a href="#" class="link">@jasperbelluk</a> Decisions decisions - good overview of attribution model fit to retailer <a href="#" class="link">@amazeltd</a> <a href="#" class="link">#shoporg14</a> <a href="#" class="link">#analyticshero</a>
        </p>
        <p class="tweet__via text--small">30mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">4 Retweets / 2 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            
            
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            W  W  W  W  W  W  W  W  W  W  <a href="#" class="link">W  W  W  W  W  W  W  W  W  W  </a>W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  
        </p>
        <p class="tweet__via text--small">55mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">0 Retweets / 0 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>
                    
                
                    
                    
<article class="article-summary article-grid__flex-whole" 
    data-id="4" 
    data-types="News" 
    data-services="Global Design and Build" 
    data-year="2015" 
    data-display="full"
    data-type="News Article"
    data-grid-item>

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented article-summary__content--grid-full-indented">

        
        <p class="article-summary__date text--small">05 January 2015</p>
        

        

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 4</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 4</span></a></p>

            

        </div>

    </div>

</article>
                    
                
                    
                    
<article class="tweet tweet--flex article-grid__flex-half"
         data-id="2002"
         data-types="tweet"
         data-services="tweet"
         data-year="tweet"
         data-display="half"
         data-type="Tweet"
         data-grid-item
         data-require="views/tweetView"
         data-tweet-item>

    <div class="tweet__bg radial-gradient--brand-2 trixel--light"></div>

    <div class="tweet__inner">

        <div class="tweet__items" data-tweet-items>

            
            
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            W  W  W  W  W  W  W  W  W  W  <a href="#" class="link">W  W  W  W  W  W  W  W  W  W  </a>W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  
        </p>
        <p class="tweet__via text--small">55mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">0 Retweets / 0 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>
                    
                
                    
                    
<article class="article-summary article-grid__flex-half" 
    data-id="6" 
    data-types="Blog" 
    data-services="Commerce &amp; Technology" 
    data-year="2015" 
    data-display="half"
    data-type="News Article"
    data-grid-item>

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">

        
        <p class="article-summary__date text--small">27 February 2015</p>
        

        

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 6</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 6</span></a></p>

            

        </div>

    </div>

</article>
                    
                

            </div>

            <!-- NOTE: Don't show more than 5 pages at a time -->
            <div class="pagination vst--small-connected article-grid__pagination" data-article-grid-pagination>
                <span class="pagination__nav pagination__nav--prev"><span class="icon icon--arrow-left"></span>Previous</span>
                <span class="pagination__page pagination__page--active"><span class="vh">Page</span> 1</span>
                <a class="pagination__page link" href="article-grid-more-items.html?p=2"><span class="vh">Page</span> 2</a>
                <a class="pagination__page link" href="article-grid-more-items.html?p=3"><span class="vh">Page</span> 3</a>
                <a class="pagination__nav pagination__nav--next link" href="article-grid-more-items.html?p=2">Next<span class="icon icon--arrow-right"></span></a>
            </div>

        </div>

        <script type="text/template" data-template="showMoreTemplate">
            <div class="article-grid__show-more show-more vst--large-connected">
                <a class="btn-wrap" href="">
                    <span class="btn btn--diamond"><span class="icon icon--more-content"></span></span>
                    <span class="btn-wrap__text">Show more<span class="vh"> news</span></span>
                </a>
            </div>
        </script>

        <script type="text/template" data-template="articleGridFilterFormTemplate">
            <form class="article-grid__form vsb--large-connected filter-view" data-view="filterView" autocomplete="off">

    <fieldset class="filter-view__fieldset">
        <legend class="filter-view__legend vh">Filter news</legend>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="types" class="frm-select-wrap">
                <label for="news-by-type" class="vh">By Type:</label>
                <select id="news-by-type" name="news-by-type" class="frm-select">
                    <option value="">All News</option>
                    <option value="Amaze generation">Amaze generation</option>
                    <option value="News">News</option>
                    <option value="Blog">Blog</option>
                    <option value="Partner News">Partner News</option>
                    <option value="Events">Events</option>
                    <option value="Thought Leadership">Thought Leadership</option>
                    <option value="Media Coverage">Media Coverage</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--article-grid content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="services" class="frm-select-wrap">
                <label for="news-by-service" class="vh">By Service:</label>
                <select id="news-by-service" name="news-by-service" class="frm-select">
                    <option value="">All Services</option>
                    <option value="Strategy & Innovation">Strategy & Innovation</option>
                    <option value="Digital Experience & Design">Digital Experience & Design</option>
                    <option value="Commerce & Technology">Commerce & Technology</option>
                    <option value="Global Design and Build">Global Design and Build</option>
                    <option value="Integrated Communications">Integrated Communications</option>
                    <option value="Digital Operations Services">Digital Operations Services</option>
                    <option value="Data Intelligence">Data Intelligence</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--article-grid content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="year" class="frm-select-wrap">
                <label for="news-by-year" class="vh">By year:</label>
                <select id="news-by-year" name="news-by-year" class="frm-select">
                    <option value="">All years</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>

        <input class="filter-view__submit btn btn--square" type="submit" value="Filter news" data-filter-auto-submit />

    </fieldset>

</form>

        </script>

        <script type="text/template" data-template="articleGridNoItemsFoundTemplate">
            <div class="article">
                <div class="editorial">
                    <h2>Oops! No news found</h2>
                    <p class="lead">We have no news for your selected filters, please try another combination...</p>
                </div>
            </div>
        </script>

    </div>

</section>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
