<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Article</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Article</h1>

            

<h2 class="static__sub-heading text--large">Article</h2>


<article class="article vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <div class="article__pad">

                    <div class="editorial">

                        <h2>XLarge Heading</h2>

                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#" class="link">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                        <h3>Large Heading</h3>

                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ol>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ul>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#" class="link">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                        <ol start="10">
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ol>

                    </div>

                </div>

            </div>

        </div>

    </div>

</article>


<h2 class="static__sub-heading text--large">Article with diamond CTA</h2>



<article class="article vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <div class="article__pad">

                    <div class="editorial">

                        <h2>XLarge Heading</h2>

                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>


                    </div>

                    <div class="article__cta">

               		   <div class="btn-wrap">
    <button type="button" class="btn btn--diamond"><span class="icon icon--more-content"></span></button>
	<span class="btn-wrap__text">Find out more</span>
</div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</article>


<h2 class="static__sub-heading text--large">Article with rectangle CTA</h2>



<article class="article vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <div class="article__pad">

                    <div class="editorial">

                        <h2>XLarge Heading</h2>

                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>


                    </div>

                    <div class="article__cta">

               		   <a class="btn btn--square">Find out more</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</article>


<h2 class="static__sub-heading text--large">Article diamond no text</h2>



<article class="article vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <div class="article__pad">

                    <div class="editorial">

                        <h2>XLarge Heading</h2>

                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>


                    </div>

                    <div class="article__cta">

               		   <button type="button" class="btn btn--diamond"><span class="icon icon--more-content"></span><span class="vh">Play video of ...</span></button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</article>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
