<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Article Summary</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Article Summary</h1>

            

<h2 class="static__sub-heading text--large">Standard</h2>

<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

	<h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Pizza Hut - New brand New flavour</a></h1>

	<div class="article-summary__summary editorial">
		<p>Developing a global, direct to consumer sales model, by establishing a new eCommerce platform for this global brand.</p>
	</div>

    <div class="article-summary__onward">
        <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>
    </div>

</article>


<h2 class="static__sub-heading text--large">Case Study</h2>

<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

	<p class="article-summary__type text--small">Case study</p>

	<h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Asics product advisor</a></h1>

	<div class="article-summary__summary editorial">
		<p>A fully integrated digital account, including the launch of a new mobile site.</p>
	</div>

    <div class="article-summary__onward">
        <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>
    </div>

</article>


<h2 class="static__sub-heading text--large">Indented</h2>

<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

	<div class="article-summary__content article-summary__content--indented">
		<p class="article-summary__type text--small">Case study</p>

		<h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Asics product advisor</a></h1>

		<div class="article-summary__summary editorial">
			<p>A fully integrated digital account, including the launch of a new mobile site.</p>
		</div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>
        </div>
	</div>

</article>


<h2 class="static__sub-heading text--large">Related</h2>


<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/570/321/" /><!-- ~380 x 1.5 = 570 -->
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/548/308/" /><!-- ~365 x 1.5 = 548 -->
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/873/491/" /><!-- ~582 x 1.5 = 873 -->
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">

        <p class="article-summary__date text--small">16 March 2015</p>

        <h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Asics product advisor</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>

            <p class="article-summary__onward-icons activity-icons">
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 25</a></span>
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 255</span>
            </p>
        </div>

    </div>

</article>



        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
