<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Buttons</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Buttons</h1>

            

<div class="static-section">

	<div class="grid">
		<div class="grid__item small--one-whole medium--one-whole">

			<h2 class="static__sub-heading text--large">Inverted</h2>

			<div class="orange-bg">
                <button type="button" class="btn btn--square btn--invert">Find out more</button>
				<br><br>
				<a class="btn btn--square btn--invert" href="#">Find out more</a>
			</div>

			<h2 class="static__sub-heading text--large">Default</h2>
            <button type="button" class="btn btn--square">Find out more</button>
			<br><br>
            <button type="button" class="btn btn--square">Ok, I agree</button>
			<br><br>

			<h2 class="static__sub-heading text--large">Icons</h2>
            <button type="button" class="btn btn--square btn--square-icon btn--icon"><span class="icon icon--arrow-right"></span>Continue</button>
			<div class="orange-bg">
                <button type="button" class="btn btn--square btn--square-icon btn--icon btn--invert"><span class="icon icon--arrow-right"></span>Continue</button>
			</div>

			<h2 class="static__sub-heading text--large">Select</h2>
			<div data-require="views/selectView" class="frm-select-wrap">
                <select id="select" name="select" class="frm-select">
                    <option value="">Career by category</option>
                    <option value="Advertising">Advertising</option>
                    <option value="Creative">Creative</option>
                    <option value="Development">Development</option>
                    <option value="Management">Management</option>
                    <option value="UX">UX</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
			<br><br>

			<h2 class="static__sub-heading text--large">File Input</h2>
			<div class="frm-file-wrap" data-require="views/fileView">
				<input id="file" type="file" name="file" class="frm-file" extension="pdf,doc,docx" data-rule-required="true" />
			</div>
			<br><br>

			<h2 class="static__sub-heading text--large">Blurred</h2>
			<div class="image-bg">
                <button type="button" class="btn btn--square btn--blurred">All news</button>
				<br><br>
				<a class="btn btn--square btn--blurred">All news</a>
			</div>

			<h2 class="static__sub-heading text--large">Diamond</h2>
            <button type="button" class="btn btn--diamond"><span class="icon icon--playvideo"></span><span class="vh">Play video of ...</span></button>
			<div class="orange-bg">
                <button type="button" class="btn btn--diamond btn--invert"><span class="icon icon--playvideo"></span><span class="vh">Play video of ...</span></button>
			</div>

			<h2 class="static__sub-heading text--large">Wrapped</h2>
			<div class="btn-wrap">
                <button type="button" class="btn btn--diamond"><span class="icon icon--more-content"></span></button>
				<span class="btn-wrap__text">Read more</span>
			</div>
			<br><br>

			<div class="btn-wrap btn-wrap--wide" data-show-more>
    <button type="button" class="btn btn--diamond"><span class="icon icon--more-content"></span></button>
	<span class="btn-wrap__text">Show more</span>
</div>


			<div class="orange-bg">
				<div class="btn-wrap btn-wrap--invert">
                    <button type="button" class="btn btn--diamond btn--invert"><span class="icon icon--information-alt"></span></button>
					<span class="btn-wrap__text">Take a look at the cookies used in this site</span>
				</div>
			</div>

			<h2 class="static__sub-heading text--large">Share Links</h2>

            <div class="share-link">
    <!--<p class="share-link__text">Share:</p>-->
    <ul class="share-link__social-icons">
        <li>
            <a href="" class="btn btn--diamond btn--no-border">
                <span class="icon icon--twitter"><span class="vh">Twitter</span></span>
            </a>
        </li>
        <li>
            <a href="" class="btn btn--diamond btn--no-border">
                <span class="icon icon--linkedin"><span class="vh">Linked in</span></span>
            </a>
        </li>
        <li>
            <a href="" class="btn btn--diamond btn--no-border">
                <span class="icon icon--pinterest"><span class="vh">Linked in</span></span>
            </a>
        </li>
    </ul>
</div>

		</div>
	</div>

</div>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
