<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Cookie Bar</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Cookie Bar</h1>

            

<div class="cookie-bar">

	<div class="site__max-element-width">

		<div class="cookie-bar__inner">

			<div class="grid">

				<div class="grid__item medium--two-thirds">
                    <div class="cookie-bar__statement btn-wrap btn-wrap--invert">
                        <button type="button" class="cookie-bar__statement-btn btn btn--invert btn--diamond"><span class="icon icon--information-alt"></span></button>
                        <span class="cookie-bar__statement-text btn-wrap__text">Take a look at the cookies used on this site</span>
                    </div>
				</div>

				<div class="grid__item medium--one-third">
                    <button type="button" class="cookie-bar__agree-btn btn btn--square btn--invert">Ok, I agree</button>
				</div>
			</div>

		</div>

	</div>

</div>



        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
