<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Form Contact Vacancy</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Form Contact Vacancy</h1>

            

<div class="frm-view" data-form>
	<div class="apply-vacancy__wrapper">
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">View vacancies</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum beatae commodi vero repudiandae.</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">Send us your CV</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, nostrum, est. Fugiat inventore, quos?</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">Graduates</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit veritatis inventore exercitationem saepe iure.</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
	</div>
</div>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
