<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Grid Slider</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Grid Slider</h1>

            

<h2 class="static__sub-heading text--large">Mix of content</h2>


<section class="grid-slider vsb--large" data-require="views/gridSliderView">

    <div class="site__max-element-width" data-clear-class>

        <div class="grid" data-clear-class>

            <div data-clear-class class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">

                <div data-carousel data-clear-class="grid-slider__items" class="grid-slider__items grid">
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 1</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 1</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 123</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 1234</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            
            Case study
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">Case Study 2</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">Case Study 2</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 1</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 100</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            
            
            Blog
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">Blog Article 3</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">Blog Article 3</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 1234</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 10000</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 4</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 4</span></a></p>

            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 5</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 5</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 1</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 100</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 6</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 6</span></a></p>

            

        </div>

    </div>

</article>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</section>

<h2 class="static__sub-heading text--large">Two items</h2>


<section class="grid-slider vsb--large" data-require="views/gridSliderView">

    <div class="site__max-element-width" data-clear-class>

        <div class="grid" data-clear-class>

            <div data-clear-class class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">

                <div data-carousel data-clear-class="grid-slider__items" class="grid-slider__items grid">
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 1</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 1</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 123</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 1234</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                    <div class="grid-slider__item grid__item one-whole medium--one-half" data-clear-class>
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            
            Case study
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">Case Study 2</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">Case Study 2</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 1</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 100</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</section>

<h2 class="static__sub-heading text--large">One item</h2>


<section class="grid-slider vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">

                <div class="grid-slider__items grid">
                    
                    <div class="grid-slider__item grid__item one-whole">
                        
<article class="article-summary">

    <div class="article-summary__image article-summary__image--triangle vsb--small-connected">
        <a href="http://www.testing.com">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1500/844/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1250/703/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/900/506/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">
        
        <p class="article-summary__type text--small">
            
            News
            
            
            
        </p>

        <h1 class="article-summary__heading text--xlarge"><a href="http://www.testing.com">News Article 1</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="http://www.testing.com">Continue reading <span class="vh">News Article 1</span></a></p>

            
            <p class="article-summary__onward-icons activity-icons">
                
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 123</a></span>
                
                
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 1234</span>
                
            </p>
            

        </div>

    </div>

</article>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</section>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
