<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Job Listing Item</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Job Listing Item</h1>

            

<article class="job-listing-item" data-view="jobListingItemView"
         data-location=""
         data-category="">
    <p class="job-listing-item__date text--small"></p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Job Listing Item</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
