<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Job Listing</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Job Listing</h1>

            

<h2 class="static__sub-heading text--large">Vacancies</h2>


<section class="job-listing vsb--large" data-require="controllers/jobListingController">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <article class="vsb--large-connected">

                    <div class="editorial">
                        <h2>Join our team</h2>
                        <p class="lead">We are always looking for the best talent to join the Amaze family. We are now accepting <a href="#" class="link">graduate applications.</a></p>
                        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    </div>

                </article>

                <form class="job-listing__form vsb--large-connected filter-view" data-view="filterView">

    <fieldset class="filter-view__fieldset">
        <legend class="filter-view__legend vh">Filter vacancies</legend>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="location" class="frm-select-wrap">
                <label for="career-by-location" class="vh">Career by location:</label>
                <select id="career-by-location" name="career-by-location" class="frm-select">
                    <option value="">Career by location</option>
                    <option value="Liverpool">Liverpool</option>
                    <option value="London">London</option>
                    <option value="Manchester">Manchester</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--job-listing content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="category" class="frm-select-wrap">
                <label for="career-by-category" class="vh">Careers by discipline:</label>
                <select id="career-by-category" name="career-by-category" class="frm-select">
                    <option value="">Careers by discipline</option>
                    <option value="Business Analysis">Business Analysis</option>
                    <option value="Client Services">Client Services</option>
                    <option value="Creative">Creative</option>
                    <option value="Data Intelligence">Data Intelligence</option>
                    <option value="Digital Operations Service">Digital Operations Service</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Media">Media</option>
                    <option value="Operations">Operations</option>
                    <option value="PR">PR</option>
                    <option value="Project Management">Project Management</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Technical">Technical</option>
                    <option value="UX">UX</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>

        <button class="filter-view__submit btn btn--square" type="submit" value="submit" data-filter-auto-submit>Filter vacancies</button>
    </fieldset>

</form>


                <div class="job-listing__items" data-view="jobListingView">

                    

                        

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Manchester"
         data-category="Creative">
    <p class="job-listing-item__date text--small">12th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Creative Director</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Manchester
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                        

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Manchester"
         data-category="Technical">
    <p class="job-listing-item__date text--small">17th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Senior .NET Developer</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Manchester
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                        

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Liverpool"
         data-category="Technical">
    <p class="job-listing-item__date text--small">22th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Frontend Developer</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Liverpool
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                        

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Liverpool"
         data-category="Technical">
    <p class="job-listing-item__date text--small">22th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">.NET Development</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Liverpool
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Contract
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                </div>

                <script type="text/template" data-view="jobListingNoVacanciesTemplate">

                    <div class="article">
                        <div class="editorial">
                            <h2>Oops! No vacancies found</h2>
                            <p class="lead">Cant find the job your after? We are always on the look out for the best people.</p>

                            <div class="article__cta">
								<a href="#" type="button" class="btn btn--square btn--square-icon btn--icon">
									<span class="icon icon--arrow-right"></span>
									Send us your CV
								</a>
	                        </div>
                        </div>
                    </div>

                </script>

            </div>
        </div>

    </div>

</section>


<h2 class="static__sub-heading text--large">No Vacancies</h2>

<section class="job-listing vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <article class="article vsb--large-connected">
                    <h1 class="article__heading text--xlarge">Join our team</h1>
                    <div class="editorial">
                        <p class="lead">We are always looking for the best talent to join the Amaze family. We are now accepting <a href="#" class="link">graduate applications.</a></p>
                        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    </div>
                </article>

                <form class="job-listing__form vsb--large-connected filter-view" data-view="filterView">

    <fieldset class="filter-view__fieldset">
        <legend class="filter-view__legend vh">Filter vacancies</legend>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="location" class="frm-select-wrap">
                <label for="career-by-location" class="vh">Career by location:</label>
                <select id="career-by-location" name="career-by-location" class="frm-select">
                    <option value="">Career by location</option>
                    <option value="Liverpool">Liverpool</option>
                    <option value="London">London</option>
                    <option value="Manchester">Manchester</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--job-listing content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="category" class="frm-select-wrap">
                <label for="career-by-category" class="vh">Careers by discipline:</label>
                <select id="career-by-category" name="career-by-category" class="frm-select">
                    <option value="">Careers by discipline</option>
                    <option value="Business Analysis">Business Analysis</option>
                    <option value="Client Services">Client Services</option>
                    <option value="Creative">Creative</option>
                    <option value="Data Intelligence">Data Intelligence</option>
                    <option value="Digital Operations Service">Digital Operations Service</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Media">Media</option>
                    <option value="Operations">Operations</option>
                    <option value="PR">PR</option>
                    <option value="Project Management">Project Management</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Technical">Technical</option>
                    <option value="UX">UX</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>

        <button class="filter-view__submit btn btn--square" type="submit" value="submit" data-filter-auto-submit>Filter vacancies</button>
    </fieldset>

</form>


                <div class="article">
                    <div class="editorial">
                        <h2>Oops! No vacancies found</h2>
                        <p class="lead">Cant find the job your after? We are always on the look out for the best people.</p>

                        <div class="article__cta">
							<a href="#" type="button" class="btn btn--square btn--square-icon btn--icon">
								<span class="icon icon--arrow-right"></span>
								Send us your CV
							</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<h2 class="static__sub-heading text--large">Related Roles</h2>


<section class="job-listing vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <h1 class="job-listing__heading text--xlarge">Related roles</h1>

                <div class="job-listing__items">

                    

                    

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Manchester"
         data-category="Creative">
    <p class="job-listing-item__date text--small">12th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Creative Director</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Manchester
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                    

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Manchester"
         data-category="Technical">
    <p class="job-listing-item__date text--small">17th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Senior .NET Developer</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Manchester
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                    

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Liverpool"
         data-category="Technical">
    <p class="job-listing-item__date text--small">22th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">Frontend Developer</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Liverpool
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Permanent
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                    

<article class="job-listing-item" data-view="jobListingItemView"
         data-location="Liverpool"
         data-category="Technical">
    <p class="job-listing-item__date text--small">22th February 2015</p>
    <h1 class="job-listing-item__heading text--large"><a href="#" class="link link--alt">.NET Development</a></h1>

    <div class="grid">

        <div class="grid__item one-whole small--one-quarter push--small--three-quarters">

            <p class="job-listing-item__role">
                <span class="job-listing-item__location">
                    <span class="vh">Location </span>Liverpool
                </span>
                <span class="job-listing-item__employment-type">
                    <span class="vh">Employment type </span>Contract
                </span>
            </p>

        </div>

        <div class="grid__item one-whole small--three-quarters pull--small--one-quarter">
            <p class="job-listing-item__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit am sed diam nonummy.</p>
        </div>

    </div>
</article>


                    

                </div>

            </div>
        </div>

    </div>

</section>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
