<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Layout Grid</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Layout Grid</h1>

            

<div class="static__section">

	<h1 class="static__heading text--xlarge">Layout Grid</h1>

	<div class="static__hidden static__hidden--show-at-xsmall static__hidden--show-at-small">

		<h2 class="static__sub-heading text--large">XSmall / Small layouts (Mobile)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>


	<div class="static__hidden static__hidden--show-at-medium">

		<h2 class="static__sub-heading text--large">Medium layouts (Tablet)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					7
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					8
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>


	<div class="static__hidden static__hidden--show-at-large static__hidden--show-at-xlarge static__hidden--show-at-xxlarge">

		<h2 class="static__sub-heading text--large">Large layouts (Desktop)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					7
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					8
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					9
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					10
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					11
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					12
				</div>
			</div>



		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--two-thirds">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>

	<h2 class="static__sub-heading text--large">Single column, with ghost columns</h2>

	<div class="grid grid--full static__layout-grid">

		<div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">

			<div class="static__layout-grid-item">
				1
			</div>

		</div>

	</div>

</div>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
