<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Logo Grid</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Logo Grid</h1>

            

<h2 class="static__sub-heading text--large">Client</h2>

<section class="logo-grid">

	<div class="site__max-element-width">

		<div class="logo-grid__container vsb--large">

			<div class="grid grid--center">
				<div class="grid__item small--one-whole medium--six-eighths large--eight-twelfths">
					<div class="editorial logo-grid__description vsb--large-connected">
						<h1 class="text--xxlarge">Our Clients</h1>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorum ducimus asperiores veniam iste.</p>
					</div>
				</div>
			</div>

			<div class="grid">

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/asics.svg" alt="Asics Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/caravan-club.svg" alt="Asics Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/carlson-rezidor.svg" alt="Carlson Rezidor Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/carlsberg.svg" alt="Carlsberg Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/co-op.svg" alt="Co-op Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/coats.svg" alt="Coats Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/coca-cola.svg" alt="Coca-cola Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/east-coast.svg" alt="East-Coast Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/hiscox.svg" alt="Hiscox Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/lexus.svg" alt="Lexus Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/nspcc.svg" alt="Nspcc Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/pizza-hut.svg" alt="Pizza Hut Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/radisson.svg" alt="Radisson Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/red-bull.svg" alt="Red Bull Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/serco.svg" alt="Serco Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/the-perfume-shop.svg" alt="The Perfume Shop" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/the-saucy-fish-co.svg" alt="The Saucy Fish Co" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/clients/unilever.svg" alt="Unilever" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

			</div><!--grid-->

		</div><!-- logo-grid__container-->

	</div><!--gridmax-->

</section><!--logo-grid-->


<h2 class="static__sub-heading text--large">Strategic Partners</h2>

<section class="logo-grid">

	<div class="site__max-element-width">

		<div class="logo-grid__container vsb--large">

			<div class="grid grid--center">
				<div class="grid__item small--one-whole medium--six-eighths large--eight-twelfths">
					<div class="editorial logo-grid__description vsb--large-connected">
						<h1 class="text--xxlarge">Our Partners</h1>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorum ducimus asperiores veniam iste.</p>
					</div>
				</div>
			</div>

			<div class="grid">

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/acquia.svg" alt="Acquia Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/autonomy.svg" alt="Autonomy Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/episerver.svg" alt="Episerver Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/google.svg" alt="Google Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/hybris.svg" alt="Hybris Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/microsoft.svg" alt="Microsoft Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/sdl.svg" alt="sdl Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<a href="#" class="logo-grid__link">
							<img src="/temp/partners/sitecore.svg" alt="Sitecore Logo" class="logo-grid__logos" />
						</a>
					</div>
				</div><!--grid__item-->

			</div><!--grid-->

		</div><!-- logo-grid__container -->

	</div><!--gridmax-->

</section><!--logo-grid-->



        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
