<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Media</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Media</h1>

            

<h2 class="static__sub-heading text--large">Image</h2>

<article class="skew media vsb--large">

	<div class="media__content">

		<canvas class="skew__canvas skew__canvas--image" data-require="views/skewImageView" data-srcset="/img/_temp/skews-image-small.jpg, /img/_temp/skews-image-medium.jpg 640w, /img/_temp/skews-image-large.jpg 1024w"></canvas>
<noscript>
	<picture class="skew__fallback">
		<source media="(min-width: 64rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-large.jpg 1220w, /img/_temp/skews-image-large.jpg 1800w" />
			
		<source media="(min-width: 40rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-medium.jpg 1024w, /img/_temp/skews-image-medium.jpg 1536w" />
			
		<img class="media__poster" src="/img/_temp/skews-image-large.jpg"
			sizes="100w"
			srcset="/img/_temp/skews-image-small.jpg 640w, /img/_temp/skews-image-small.jpg 960w" />
			
	</picture>
</noscript>


		<a class="media__text btn-wrap btn-wrap--invert" href="#">

			<h1 class="text--xxlarge">The Amaze graduate programme</h1>
			<p class="text--large">Application closing date 12 April 2015</p>

            <span role="button" tabindex="-1" class="media__cta btn btn--square btn--square-icon btn--icon btn--fill"><span class="icon icon--arrow-right"></span>Apply now</span>

		</a>

	</div>

</article>


<h2 class="static__sub-heading text--large">Video</h2>

<article class="skew media media--video vsb--large" data-require="controllers/videoController">

	<div class="media__inner" data-video-inner>

		<div class="media__content" data-video-content>

            <canvas class="skew__canvas skew__canvas--image" data-view="skewImage" data-srcset="/img/_temp/skews-image-small.jpg, /img/_temp/skews-image-medium.jpg 640w, /img/_temp/skews-image-large.jpg 1024w"></canvas>
<noscript>
	<picture class="skew__fallback">
		<source media="(min-width: 64rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-large.jpg 1220w, /img/_temp/skews-image-large.jpg 1800w" />
			
		<source media="(min-width: 40rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-medium.jpg 1024w, /img/_temp/skews-image-medium.jpg 1536w" />
			
		<img class="media__poster" src="/img/_temp/skews-image-large.jpg"
			sizes="100w"
			srcset="/img/_temp/skews-image-small.jpg 640w, /img/_temp/skews-image-small.jpg 960w" />
			
	</picture>
</noscript>


			<a href="https://youtu.be/ydBjsZnHrwM" class="media__text btn-wrap btn-wrap--invert" data-expand>

				<span class="btn btn--diamond btn--fill">
					<span class="icon icon--playvideo"></span>
				</span>
				<span class="btn-wrap__text">
					<span class="btn-wrap__text-item text--xxlarge">Careers</span>
					<span class="btn-wrap__text-item text--large">Watch the film</span>
				</span>
			</a>

		</div>

	</div>

</article>


<h2 class="static__sub-heading text--large">Header Image</h2>

<article class="skew header-join media media--header vsb--large">

	<div class="media__content">

            
				<canvas class="skew__canvas skew__canvas--image" data-require="views/skewImageView" data-srcset="/img/_temp/skews-image-small.jpg, /img/_temp/skews-image-medium.jpg 640w, /img/_temp/skews-image-large.jpg 1024w" data-angles="bottom"></canvas>
<noscript>
	<picture class="skew__fallback">
		<source media="(min-width: 64rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-large.jpg 1220w, /img/_temp/skews-image-large.jpg 1800w" />
			
		<source media="(min-width: 40rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-medium.jpg 1024w, /img/_temp/skews-image-medium.jpg 1536w" />
			
		<img class="media__poster" src="/img/_temp/skews-image-large.jpg"
			sizes="100w"
			srcset="/img/_temp/skews-image-small.jpg 640w, /img/_temp/skews-image-small.jpg 960w" />
			
	</picture>
</noscript>

			

		<a class="media__text btn-wrap btn-wrap--invert" href="#">

			<h1 class="text--xxlarge">The Amaze graduate programme</h1>
			<p class="text--large">Application closing date 12 April 2015</p>

            <span role="button" tabindex="-1" class="media__cta btn btn--square btn--square-icon btn--icon btn--fill"><span class="icon icon--arrow-right"></span>Apply now</span>

		</a>

	</div>

</article>


<h2 class="static__sub-heading text--large">Header Video</h2>

<article class="skew header-join media media--video media--header vsb--large" data-require="controllers/videoController">

	<div class="media__container">

		<div class="media__inner" data-video-inner>

			<div class="media__content" data-video-content>

	            
					<canvas class="skew__canvas skew__canvas--image" data-view="skewImage" data-srcset="/img/_temp/skews-image-small.jpg, /img/_temp/skews-image-medium.jpg 640w, /img/_temp/skews-image-large.jpg 1024w" data-angles="bottom"></canvas>
<noscript>
	<picture class="skew__fallback">
		<source media="(min-width: 64rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-large.jpg 1220w, /img/_temp/skews-image-large.jpg 1800w" />
			
		<source media="(min-width: 40rem)"
			sizes="100w"
			srcset="/img/_temp/skews-image-medium.jpg 1024w, /img/_temp/skews-image-medium.jpg 1536w" />
			
		<img class="media__poster" src="/img/_temp/skews-image-large.jpg"
			sizes="100w"
			srcset="/img/_temp/skews-image-small.jpg 640w, /img/_temp/skews-image-small.jpg 960w" />
			
	</picture>
</noscript>

				

				<a href="https://youtu.be/ydBjsZnHrwM" class="media__text btn-wrap btn-wrap--invert" data-expand="true">

					<span class="btn btn--diamond btn--fill">
						<span class="icon icon--playvideo"></span>
					</span>

					<span class="btn-wrap__text">
						<span class="btn-wrap__text-item text--xxlarge">Careers</span>
						<span class="btn-wrap__text-item text--large">Watch the film</span>
					</span>
				</a>

			</div>

		</div>

	</div>

</article>





        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
