<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Navigation</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Navigation</h1>

            

<h2 class="static__sub-heading text--large">Main navigation</h2>


<nav id="navigation" class="navigation" role="navigation" data-view="navigationView">

    <div class="navigation__skew" data-navigation-height data-navigation-close></div>

    <div class="navigation__inner">

        <div class="navigation__scroll" data-navigation-height data-navigation-scroll>

            <button class="navigation__close" data-navigation-close>
                <span class="icon icon--close"><span class="vh">Close</span></span>
            </button>

            <ul class="navigation__items navigation__items--pnav">
                
                
<li class="navigation__item navigation__item--pnav " tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav "
       href="/" tabindex="-1" >
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--line">
            About
            
        </span>
    </a>

    
</li>

                
                
<li class="navigation__item navigation__item--pnav " tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav "
       href="/" tabindex="-1" >
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--line">
            Work
            
        </span>
    </a>

    
</li>

                
                
<li class="navigation__item navigation__item--pnav  navigation__item--children" tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav  navigation__item-link--children"
       href="/" tabindex="-1"  data-navigation-children>
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--children">
            Services
            
            <span class="icon icon--arrow-right-small"></span>
            <span class="icon icon--arrow-down"></span>
            
        </span>
    </a>

    
    <div class="navigation__level" data-navigation-height data-navigation-level>

        <div class="navigation__skew navigation__skew--snav" data-navigation-height data-navigation-close></div>

        <div class="navigation__inner">

            <div class="navigation__scroll" data-navigation-height data-navigation-scroll>

                <button class="navigation__close" data-navigation-close>
                    <span class="icon icon--close"><span class="vh">Close</span></span>
                </button>

                <a href="#" class="navigation__title link link--dark text--large">Services</a>

                <a href="#" class="navigation__back navigation__item-link" data-navigation-back>
                    <span class="navigation__back-text navigation__item-text">
                        <span class="icon icon--arrow-left-small"></span> Back
                    </span>
                </a>

                
<ul class="navigation__items navigation__items--snav">
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Services Overview
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Strategy and Innovation
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Digital Experience &amp; Design
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Commerce &amp; Technology
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Global Design and Build
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Integrated Communications
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Digital Operations Services
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Data Intelligence
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Strategic Alliances
        </span>
    </a>
</li>            
    
</ul>
            </div>

        </div>

    </div>
    
</li>

                
                
<li class="navigation__item navigation__item--pnav  navigation__item--children" tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav  navigation__item-link--children"
       href="/static/compiled/pages/careers-landing-page.html" tabindex="-1"  data-navigation-children>
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--children">
            Careers
            
            <span class="icon icon--arrow-right-small"></span>
            <span class="icon icon--arrow-down"></span>
            
        </span>
    </a>

    
    <div class="navigation__level" data-navigation-height data-navigation-level>

        <div class="navigation__skew navigation__skew--snav" data-navigation-height data-navigation-close></div>

        <div class="navigation__inner">

            <div class="navigation__scroll" data-navigation-height data-navigation-scroll>

                <button class="navigation__close" data-navigation-close>
                    <span class="icon icon--close"><span class="vh">Close</span></span>
                </button>

                <a href="#" class="navigation__title link link--dark text--large">Careers</a>

                <a href="#" class="navigation__back navigation__item-link" data-navigation-back>
                    <span class="navigation__back-text navigation__item-text">
                        <span class="icon icon--arrow-left-small"></span> Back
                    </span>
                </a>

                
<ul class="navigation__items navigation__items--snav">
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/static/compiled/pages/careers-landing-page.html" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Careers Overview
        </span>
    </a>
</li>            
    
        
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="/" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            Graduate Programme
        </span>
    </a>
</li>            
    
</ul>
            </div>

        </div>

    </div>
    
</li>

                
                
<li class="navigation__item navigation__item--pnav " tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav "
       href="/static/compiled/pages/news-landing-page.html" tabindex="-1" >
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--line">
            News
            
        </span>
    </a>

    
</li>

                
                
<li class="navigation__item navigation__item--pnav " tabindex="0">
    <a class="navigation__item-link navigation__item-link--pnav "
       href="/static/compiled/pages/contact-page.html" tabindex="-1" >
        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--line">
            Contact
            
        </span>
    </a>

    
</li>

                
                <li class="navigation__item navigation__item--pnav navigation__item--search" tabindex="0">
                    <a data-view="searchOverlayTriggerView" class="navigation__item-link navigation__item-link--pnav" href="/static/compiled/pages/search-results.html" tabindex="-1">
                        <span class="navigation__item-text navigation__item-text--pnav navigation__item-text--line">
                            Search
                        </span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</nav>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
