<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | People Grid</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">People Grid</h1>

            

<section class="expanding-grid expanding-grid--people-grid vsb--large" data-require="views/gridExpanderView">
<div class="grid">
	<div class="grid__item one-whole">
		<h1 class="expanding-grid__heading text--xlarge">Leadership team</h1>
		<div class="site__max-element-width" data-grid-inner>

			<div class="expanding-grid__flexbox">

				<a href="404.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Natalie Gross <span class="text--medium expanding-grid__title">CEO</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Wendy Stonefield <span class="text--medium expanding-grid__title">Chief Commercial Officer</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Rick Curtis <span class="text--medium expanding-grid__title">Chief Strategy Officer</span></h1>
					</article>
				</a>


				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Matt Clarke <span class="text--medium expanding-grid__title">Chief Technical Officer</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Sandra McDowell <span class="text--medium expanding-grid__title">Director</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Stephen Collins <span class="text--medium expanding-grid__title">Group Finance Director</span></h1>
					</article>
				</a>

			</div>
		</div>
	</div>
</div>



</section>



        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
