<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Testimonial Carousel</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Testimonial Carousel</h1>

            

<h2 class="static__sub-heading text--large">Single</h2>

	
        <section class="testimonial-carousel testimonial-carousel--single vsb--large">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<div class="testimonial-carousel__items">
					<div class="testimonial-carousel__item">
						<blockquote class="testimonial-carousel__quote">
							<p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
							<footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
						</blockquote>
					</div>
				</div>

			</div>
		</div>

	</div>

</section>

    

<h2 class="static__sub-heading text--large">Skew Single</h2>

<section class="skew skew--padded vsb--large">

	
        <section class="testimonial-carousel testimonial-carousel--single">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<div class="testimonial-carousel__items">
					<div class="testimonial-carousel__item">
						<blockquote class="testimonial-carousel__quote">
							<p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
							<footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
						</blockquote>
					</div>
				</div>

			</div>
		</div>

	</div>

</section>

    

    <canvas class="skew__canvas radial-gradient--light-1" data-require="views/skewGradientView" data-base-colour="#FFFFFF" data-primary-colour="#FFCCCC" data-secondary-colour="#CCCCFF"></canvas>


</section>


<h2 class="static__sub-heading text--large">Multiple</h2>

	
        <section class="testimonial-carousel vsb--large" data-require="views/testimonialCarouselView">
    
    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <ul class="testimonial-carousel__items">
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
                        </blockquote>
                    </li>
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum turpis non mauris interdum porta. Aenean ac lectus eget dolor pharetra tincidunt non sodales ipsum.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Lorem Ipsum <span class="testimonial-carousel__cite-role text--base">Director of Ipsum, Lorem</span></cite></footer>
                        </blockquote>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</section>

    

<h2 class="static__sub-heading text--large">Skew Multiple</h2>

<section class="skew skew--padded vsb--large">

	
        <section class="testimonial-carousel" data-require="views/testimonialCarouselView">
    
    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <ul class="testimonial-carousel__items">
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
                        </blockquote>
                    </li>
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum turpis non mauris interdum porta. Aenean ac lectus eget dolor pharetra tincidunt non sodales ipsum.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Lorem Ipsum <span class="testimonial-carousel__cite-role text--base">Director of Ipsum, Lorem</span></cite></footer>
                        </blockquote>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</section>

    

    <canvas class="skew__canvas radial-gradient--light-1" data-require="views/skewGradientView" data-base-colour="#FFFFFF" data-primary-colour="#FFCCCC" data-secondary-colour="#CCCCFF"></canvas>


</section>



        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
