<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Timeline</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Timeline</h1>

            

<article data-require="controllers/timelineController" data-urljson="/Static/data/timelineContent.json" class="vsb--large">

    <div data-view="timelineView">

        <div class="timeline-nojs__intro grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">
            <h1 class="article__heading text--xxlarge">Our timeline</h1>
            <h2 class="article__heading text--large">Amaze was born 20 years ago inside the Learning Methods unit at Liverpool John Moores University.</h2>
            <p class="timeline-nojs__intro-copy">Our founders saw a social and technological revolution on the horizon and began to study the increasingly complex relationship between human behaviour and technology. Understanding that relationship has been our passion ever since, enabling us to work across digital marketing, technology and commerce for some of the world's biggest brands. It's no accident that many of our most successful relationships are also the oldest.</p>
        </div>

        <article class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">1995</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Founded by Peter Fowler &amp; Roy Stringer</h2>
                    <p class="timeline-nojs__event-copy">Amaze is established out of the Learning Methods Unit of John Moores University, Liverpool. Founded by the late digital media luminary Roy Stringer, and led by him and Peter Fowler, the unit is formed to explore the effects of digital and emerging new media on the way people learn and communicate.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Roy Stringer created the Navihedron</h2>
                    <p class="timeline-nojs__event-copy">Roy Stringer develops the Navihedron - a non-hierarchical information architecture tool designed to allow navigation of the network space. Designed as a movable polyhedron, there are twelve nodes, each of which opens onto twelve more, presenting complex information in a logical way.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">1997</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">MTV 3D Movie Mixer</h2>
                    <p class="timeline-nojs__event-copy">MTV approach Amaze in search of something that would make their site &#x27;stand out&#x27;. Danny Brown&#x27;s technical sophistication and general love for exploration leads us to The MTV Music Mixer. An interactive 3D music experience built with the Navihedron system, it allows users to mix sound samples by placing them in a three dimensional space.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">1998</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Noodlebox</h2>
                    <p class="timeline-nojs__event-copy">Daniel Brown develops &#x27;The Noodlebox&#x27; - a revolutionary digital experiment, which features a landscape of building blocks inspired by 1980s computer games. Noodlebox receives global recognition and becomes a permanent installation in the San Francisco Museum of Modern Art. Sparking extensive debate, the immersive, holistic experience strongly reflects the thinking behind our early work.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2000</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Oxford Guide to Microanalysis</h2>
                    <p class="timeline-nojs__event-copy">A rich multi-media campaign comprising three CD-ROMs that help train operators of complex equipment in the principles of microanalysis. Taking ten months to complete, it receives a number of awards including BIMA&#x27;s Gold Award, Multimedia Published Training category.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">1999</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">VW Zoon</h2>
                    <p class="timeline-nojs__event-copy">Amaze&#x27;s first online community built for VW. Aimed at the German youth market, it quickly becomes the second largest youth site in Germany. Amaze pioneers social networking tools for its delivery, as well as producing interactive and editorial content.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2002</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">The Co-operative Group</h2>
                    <p class="timeline-nojs__event-copy">Amaze is commissioned by The Co-operative to look after multiple businesses across the Group, defining and evolving their digital channel proposition. Our role now includes digital and technical strategy, website design and build, social media strategy, digital campaign planning and implementation and on-going content management support.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2003</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Toyota</h2>
                    <p class="timeline-nojs__event-copy">Amaze first begins working with Toyota. As European digital partner, this is one of the agency&#x27;s first pan-continental projects, requiring strategy, brand, creative and rich multilingual solutions across 46 European markets. Our omni-channel approach provides a seamless online to offline experience, and an ongoing optimisation programme to maximise website conversion.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">ODEON</h2>
                    <p class="timeline-nojs__event-copy">Amaze becomes ODEON&#x27;s online strategic partner, delivering results-driven digital marketing from brand campaigns and increasing traffic through to social media tools and customer relationship management. Amaze are subsequently commissioned to develop their website, the first step in establishing a connected digital ecosystem for the ODEON brand.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2004</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Lexus</h2>
                    <p class="timeline-nojs__event-copy">Amaze becomes responsible for Lexus Europe - 42 websites across 34 markets, and 26 languages. A longstanding relationship with Lexus begins and the web support team evolves rapidly to keep up with changing audience and behaviour.  Amaze goes on to create the acclaimed award-winning Oculus Rift campaign and website build, a landmark virtual reality experience.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2007</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Acquisition by Hasgrove</h2>
                    <p class="timeline-nojs__event-copy">Amaze is acquired by communications business Hasgrove to add digital to its portfolio and support the next phase of growth.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Henri Lloyd</h2>
                    <p class="timeline-nojs__event-copy">Amaze&#x27;s first commerce solution - a multinational digital rebrand and e-commerce redevelopment for iconic clothing brand, Henri Lloyd. The project is rolled out to 7 countries in 4 languages.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Coca-Cola Enterprises</h2>
                    <p class="timeline-nojs__event-copy">Amaze works with Coca-Cola on a range of digital activities. These include digital  design and build and corporate communications like CSR and digital internal communications. We work with them again on a variety of internal comms solutions around the 2012 Olympics.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2009</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Dyson</h2>
                    <p class="timeline-nojs__event-copy">Amaze is appointed lead European digital agency for Dyson, and begins supporting the brand with multilingual media campaigns. These include search, online advertising and social media across 9 countries in 6 languages.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2010</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Bridgestone</h2>
                    <p class="timeline-nojs__event-copy">Amaze works on a pan-European digital consumer engagement programme for Bridgestone, aligning a disparate suite of websites. The solution is rolled out across Europe in different languages to engage users in the complicated process of online tyre selection and recommendation.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Saucy Fish</h2>
                    <p class="timeline-nojs__event-copy">Amaze is briefed to educate consumers and influence sales through an integrated digital approach. The work includes design and build of an online fish &#x27;hub&#x27; (The Dock), a blog for foodies, an animated TV ad and a seamless mix of media relations, social media, online display ads, and sampling at top foodie events.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Top 10 digital agency ranking</h2>
                    <p class="timeline-nojs__event-copy">Amaze is ranked as a Top 10 digital agency by leading analyst firm Forrester in their UK Interactive Agencies wave.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2011</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Unilever</h2>
                    <p class="timeline-nojs__event-copy">Unilever becomes Amaze&#x27;s first global account. Our remit expands significantly over time into its present form of guardians of the global brand - protecting brand consistency whilst ensuring enough adaptability for local audiences. Working with Unilever&#x27;s lead brand agency we help to create a new Corporate Brand identity and Digital Brand Guidelines to be implemented across all digital channels.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2012</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Virgin Trains East Coast</h2>
                    <p class="timeline-nojs__event-copy">As Virgin Trains East Coast&#x27;s lead digital agency, Amaze is briefed to completely redesign their website and online user journey. The new site accesses a complex network of data from varying sources, whilst seamlessly integrating with a booking engine that operates through an entirely separate platform.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Coats</h2>
                    <p class="timeline-nojs__event-copy">Coats selects Amaze, to be lead digital partner across its core commercial divisions, including Coats Industrial. In 2012, Amaze develops and launches an innovative customer-facing web portal for the Industrial Division of Coats plc. The websites are supported in 70 markets and 11 languages.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">ASICS</h2>
                    <p class="timeline-nojs__event-copy">Amaze is made responsible for the strategic development and delivery of a global eCommerce solution - transitioning the business to a direct to consumer sales model. The remit includes development and implementation of solution architecture, brand, creative and technical strategies and global implementation. Amaze go on to develop an interactive in-store experience called the Product Advisor, giving customers a more in-depth one-to-one experience.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2013</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Acquisition by St Ives Group</h2>
                    <p class="timeline-nojs__event-copy">In early 2013, Amaze is acquired by St Ives Group to establish a new digital solutions pillar within the Group&#x27;s Marketing Services division. This support and investment allows us to accelerate our growth and expand into new territories.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">NSPCC</h2>
                    <p class="timeline-nojs__event-copy">Amaze works with the NSPCC to bring the charity&#x27;s new brand to life across all digital devices. The fully responsive digital solution is designed to put users first and delivers an inspirational and engaging experience that clearly tells the story of the ambitious, life-changing work that the NSPCC undertakes. Amaze is later appointed to work on the ChildLine account, a confidential counselling service provided by the NSPCC.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Pizza Hut</h2>
                    <p class="timeline-nojs__event-copy">Amaze is commissioned by Pizza Hut Restaurants to transform their identity online. Embarking on a business-wide brand revolution programme, we rebuild their online identity on a new platform, integrating social and mobile elements to more effectively reach out to a young audience.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Travis Perkins</h2>
                    <p class="timeline-nojs__event-copy">Amaze relaunches the Travis Perkins corporate site in line with new branding. It&#x27;s a  fully responsive site design offering a refreshed web presence with greater usability for all audiences. The site is underpinned with a robust analytics framework to enable a higher level of internal KPI reporting and is voted as one of the best responsive websites of 2014 by Econsultancy.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2014</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Launch of Loop Integration</h2>
                    <p class="timeline-nojs__event-copy">Loop - a joint venture between long-standing hybris partner contiigo and Amaze - launches, offering US-focused omni-channel commerce solutions from the heart of Chicago. This is our first move into the US.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Carlson Rezidor</h2>
                    <p class="timeline-nojs__event-copy">Amaze is appointed by Carlson Rezidor to work on the Radisson Blu global content strategy and digital comms. Our role is to provide strategic support and identify more interesting ways to communicate the stylish, iconic and sophisticated elements of the brand story. We are also appointed to build an interactive website to mark the launch of a new brand and hotel concept, Radisson Red.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Red Bull</h2>
                    <p class="timeline-nojs__event-copy">Red Bull hires Amaze to help them innovate their event websites through the introduction of new technologies. Projects include Cliff Diving and The Red Bull Air Race where we have leveraged social technology to enhance the anticipation and live experience through content sharing and discussion.</p>
                </div>
                
            </section>
            
            <section class="timeline-nojs__year">
                <h1 class="timeline-nojs__heading text--xlarge">2015</h1>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Formation of Amaze One</h2>
                    <p class="timeline-nojs__event-copy">Fellow St Ives Company, Occam collaborates with Amaze on a new CRM proposition that combines both companys&#x27; data and digital expertise. The new venture is branded Amaze One.</p>
                </div>
                
                <div class="timeline-nojs__event">
                    <h2 class="timeline-nojs__event-heading">Amaze today</h2>
                    <p class="timeline-nojs__event-copy">A leading full service digital marketing, commerce and technology consultancy, Amaze is ranked 5th in the Digital Elite category in The Drum&#x27;s Digital Census. We&#x27;re also placed 11th in the UK&#x27;s Top 100 Digital Agencies Report by Econsultancy, 8th in the full service category and 2nd in the UK&#x27;s top B2B marketing communications agencies.</p>
                </div>
                
            </section>
            
        </article>

    </div>

</article>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
