<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <title>amaze-website | Tweet</title>

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

    <script src="/js/modernizr-custom.js"></script>

    <script>
    	var dataLayer = [];
    </script>

</head>

<body>

    <div id="site" class="site" data-require="views/scrollTopView">

        <main role="main" class="static">

            <a class="static__back" href="../index.html">Back to Index</a>

            <h1 class="static__heading text--xlarge">Tweet</h1>

            

<h2 class="static__sub-heading text--large">Footer (see main template)</h2>

<div style="background-color: black;">
    

<article class="tweet tweet--footer" data-require="views/tweetView">
    
    <div class="tweet__bg "></div>

    <div class="tweet__inner">        

        <div class="tweet__items" data-tweet-items>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            RT: <a href="#">@jasperbelluk</a> Decisions decisions - good overview of attribution model fit to retailer <a href="#">@amazeltd</a> <a href="#">#shoporg14</a> <a href="#">#analyticshero</a>
        </p>
        <p class="tweet__via text--small">30mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">4 Retweets / 2 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            W  W  W  W  W  W  W  W  W  W  <a href="#">W  W  W  W  W  W  W  W  W  W  </a>W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  
        </p>
        <p class="tweet__via text--small">55mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">0 Retweets / 0 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>
</div>

<h2 class="static__sub-heading text--large">Brand</h2>



<article class="tweet tweet--flex" data-require="views/tweetView">
    
    <div class="tweet__bg radial-gradient--brand-1 trixel--light"></div>

    <div class="tweet__inner">        

        <div class="tweet__items" data-tweet-items>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            RT: <a href="#">@jasperbelluk</a> Decisions decisions - good overview of attribution model fit to retailer <a href="#">@amazeltd</a> <a href="#">#shoporg14</a> <a href="#">#analyticshero</a>
        </p>
        <p class="tweet__via text--small">30mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">4 Retweets / 2 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>

<h2 class="static__sub-heading text--large">Dark</h2>



<article class="tweet tweet--flex" data-require="views/tweetView">
    
    <div class="tweet__bg radial-gradient--dark-1 trixel--light"></div>

    <div class="tweet__inner">        

        <div class="tweet__items" data-tweet-items>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            RT: <a href="#">@jasperbelluk</a> Decisions decisions - good overview of attribution model fit to retailer <a href="#">@amazeltd</a> <a href="#">#shoporg14</a> <a href="#">#analyticshero</a>
        </p>
        <p class="tweet__via text--small">30mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">4 Retweets / 2 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            W  W  W  W  W  W  W  W  W  W  <a href="#">W  W  W  W  W  W  W  W  W  W  </a>W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  
        </p>
        <p class="tweet__via text--small">55mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">0 Retweets / 0 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>

<h2 class="static__sub-heading text--large">Light</h2>



<article class="tweet tweet--flex" data-require="views/tweetView">
    
    <div class="tweet__bg radial-gradient--light-1 trixel--dark"></div>

    <div class="tweet__inner">        

        <div class="tweet__items" data-tweet-items>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            RT: <a href="#">@jasperbelluk</a> Decisions decisions - good overview of attribution model fit to retailer <a href="#">@amazeltd</a> <a href="#">#shoporg14</a> <a href="#">#analyticshero</a>
        </p>
        <p class="tweet__via text--small">30mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">4 Retweets / 2 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            
                
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            W  W  W  W  W  W  W  W  W  W  <a href="#">W  W  W  W  W  W  W  W  W  W  </a>W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  W  
        </p>
        <p class="tweet__via text--small">55mins ago via twitter</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">0 Retweets / 0 Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href=""><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>

            

        </div>

    </div>

</article>


        </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/../js/jquery.js">\x3C/script>')</script>

    
    <script src="/js/lib/bower/require.js" data-main="/js/main-async"></script>
    

</body>

</html>
