<div>
    <div class="dijitInline">
        <!--<div class="we-create-page" data-dojo-attach-point="stateNode, tooltipNode">
                <div style="margin-left: 6px" class="epi-cmsButton" data-dojo-attach-point="QuickPollbtnAdd" data-dojo-type="dijit.form.Button">
                </div>
            </div>-->
        <div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: _onBtnAddTweetClick" data-dojo-attach-point="btnAddTweet" data-dojo-props="label:'Add tweet'"></div>
        <div data-dojo-attach-point="tweetsGridNode" class="we-list-items"></div>
    </div>
</div>